body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
h1{
    color: aquamarine;
}
.red-color{
    color: royalblue;
}
section{
    display:flex;
    margin: 10px;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left:10%;
}
.half-width img{
    width:100%;
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(rgb(138, 42, 194),rgb(100, 185, 100));
    padding: 10px 25px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/shapes/shape-4.png);
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(blueviolet,royalblue);
    padding: 10px 25px;
    color:salmon;
    font: weight 700px;
    border-radius: 5px;
}
.half-width{
    width: 50%;
    padding-left:10%;
}
.half-width img{
    width:100%;
}
.My-mission-2022{
    margin-top: 100px;
}
    .alfaj{
        margin-left: 50px;
    }
    .syif{
        width: 300px;
        height: 250px;
        border-radius: 10px;
    }
    .love{
        justify-content: center;
        
    }
.jan{
    text-align: center;
}
.bg1{
    background-color: rgb(175, 190, 204);
    margin-right: 50px;
    border-radius: 10px;
    margin-left: 70px;
}
.bg2{
    background-color: rgb(196, 236, 216);
    margin-right: 50px;
    border-radius: 10px;
}
.bg3{
    background-color: rgb(233, 154, 140);
    border-radius: 10px;
}
.footer{
  text-align: center;
    background-color: rgb(47, 40, 39);
}
.footer-text{
    color: white;
}
.A{
    width: 300px;
    height: 250px;
    border-radius: 10px;  
}
.Tz{
    text-decoration: none;
    background-image:linear-gradient(blueviolet,royalblue);
    padding: 10px 25px;
    color:salmon;
    font: weight 700px;
    border-radius: 5px;
}
.bd{
    width: 200px;
    padding-left: 900px;
}
.bx{
    width: 400px;
    margin-right: 100px;
    padding-right: 100px;
}
.A{
    width: 500px;
    padding-right: 700px;
    margin-left: 200px;
    border-radius: 50px;
}
.sf{
    width: 200px;
    margin-right: 100px;

}
.eye{
    text-align: center;
    color: rgb(187, 86, 187);
}
.M{
    text-align: center;
    background-color: rgb(47, 40, 39);
    
}
.M{
    color: white;   
}
.B{
    text-align: center;
    background-color: black;
}
.B{
    color: cyan;
}
.vl {
    border-left: 4px solid green;
    height: 130px;
   margin-top: 90px;
   
}
.syif2{
    width: 300px;
    height: 500px;
    border-radius: 5px;
}
    .text{
       margin-left: 65px;
    }
    .box{
       margin-left: 10px;
    }
    